{
  "presets": [[
    "es2015",
    {
      "targets": {
        "uglify": true
      },
      "forceAllTransforms": true
    }
  ]],
  "plugins": [
    "transform-object-rest-spread",
    "transform-react-jsx"
  ]
}